# Visualization-Data

### dataset-

#### intrudation (For data cleaning)

In [115]:
import pandas as pd 

import matplotlib.pyplot as plt
import seaborn as sns

## 
read dataset

In [116]:
sales_df=pd.read_csv(r"C:\Users\Lenovo\Desktop\MIT-ADT_2215042_vishalT\Data_Anyalist rodemap\Python Programing and Libaryes\Data Anyalist-projects\Project5\salesdata.csv")

In [117]:
sales_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [120]:
 sales_df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [123]:
sales_df.index

RangeIndex(start=0, stop=541909, step=1)

In [122]:
sales_df.shape

(541909, 8)

In [124]:
sales_df['InvoiceDate'] = pd.to_datetime(sales_df['InvoiceDate'])

In [125]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [126]:


sales_df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [127]:
sales_df['Country']

0         United Kingdom
1         United Kingdom
2         United Kingdom
3         United Kingdom
4         United Kingdom
               ...
541904            France
541905            France
541906            France
541907            France
541908            France
Name: Country, Length: 541909, dtype: object

In [129]:
unique_country = sales_df['Country'].value_counts()

In [130]:
sales_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [131]:
unique_country.unique()

array([495478,   9495,   8557,   8196,   2533,   2371,   2069,   2002,
         1519,   1259,   1086,    803,    758,    695,    622,    462,
          446,    401,    389,    358,    341,    297,    291,    288,
          229,    182,    151,    146,    127,     68,     61,     58,
           45,     35,     32,     30,     19,     10], dtype=int64)

In [132]:
sales_df['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [134]:
sales_df.head().isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [135]:
sales_df.groupby('Country')['UnitPrice'].mean()

Country
Australia                 3.220612
Austria                   4.243192
Bahrain                   4.556316
Belgium                   3.644335
Brazil                    4.456250
Canada                    6.030331
Channel Islands           4.932124
Cyprus                    6.302363
Czech Republic            2.938333
Denmark                   3.256941
EIRE                      5.911077
European Community        4.820492
Finland                   5.448705
France                    5.028864
Germany                   3.966930
Greece                    4.885548
Hong Kong                42.505208
Iceland                   2.644011
Israel                    3.633131
Italy                     4.831121
Japan                     2.276145
Lebanon                   5.387556
Lithuania                 2.841143
Malta                     5.244173
Netherlands               2.738317
Norway                    6.012026
Poland                    4.170880
Portugal                  8.582976
RSA                       4.277586
Saudi Arabia              2.411000
Singapore               109.645808
Spain                     4.987544
Sweden                    3.910887
Switzerland               3.403442
USA                       2.216426
United Arab Emirates      3.380735
United Kingdom            4.532422
Unspecified               2.699574
Name: UnitPrice, dtype: float64

In [136]:
sales_df.groupby('Country')['UnitPrice'].min()

Country
Australia                   0.00
Austria                     0.12
Bahrain                     1.25
Belgium                     0.12
Brazil                      0.85
Canada                      0.10
Channel Islands             0.19
Cyprus                      0.12
Czech Republic              0.29
Denmark                     0.21
EIRE                        0.00
European Community          0.55
Finland                     0.12
France                      0.00
Germany                     0.00
Greece                      0.14
Hong Kong                   0.21
Iceland                     0.25
Israel                      0.06
Italy                       0.12
Japan                       0.21
Lebanon                     0.55
Lithuania                   1.25
Malta                       0.19
Netherlands                 0.00
Norway                      0.00
Poland                      0.19
Portugal                    0.12
RSA                         0.00
Saudi Arabia                0.42
Singapore                   0.19
Spain                       0.00
Sweden                      0.19
Switzerland                 0.00
USA                         0.42
United Arab Emirates        0.29
United Kingdom         -11062.06
Unspecified                 0.19
Name: UnitPrice, dtype: float64

In [137]:
sales_df.groupby('Country')['UnitPrice'].max()

Country
Australia                 350.00
Austria                    40.00
Bahrain                    12.75
Belgium                    39.95
Brazil                     10.95
Canada                    550.94
Channel Islands           293.00
Cyprus                    320.69
Czech Republic             40.00
Denmark                    18.00
EIRE                     1917.00
European Community         18.00
Finland                   275.60
France                   4161.06
Germany                   599.50
Greece                     50.00
Hong Kong                2653.95
Iceland                    12.75
Israel                    125.00
Italy                     300.00
Japan                      45.57
Lebanon                    14.95
Lithuania                   5.95
Malta                      65.00
Netherlands               206.40
Norway                    700.00
Poland                     40.00
Portugal                 1241.98
RSA                        14.95
Saudi Arabia                5.49
Singapore                3949.32
Spain                    1715.85
Sweden                     40.00
Switzerland                40.00
USA                        16.95
United Arab Emirates       37.50
United Kingdom          38970.00
Unspecified                16.95
Name: UnitPrice, dtype: float64

In [138]:
sales_df.groupby('InvoiceDate')['UnitPrice'].mean()

InvoiceDate
2010-12-01 08:26:00    3.910000
2010-12-01 08:28:00    1.850000
2010-12-01 08:34:00    4.833750
2010-12-01 08:35:00    5.950000
2010-12-01 08:45:00    2.764500
                         ...
2011-12-09 12:23:00    1.650000
2011-12-09 12:25:00    1.285000
2011-12-09 12:31:00    1.799048
2011-12-09 12:49:00    5.057500
2011-12-09 12:50:00    2.966667
Name: UnitPrice, Length: 23260, dtype: float64

In [140]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


data = pd.read_csv('ecommerce_sales.csv')

# Plot the distribution of quantity sold
plt.figure(figsize=(10, 6))
sns.histplot(data['Quantity'], bins=50, kde=True)
plt.title('Distribution of Quantity Sold')
plt.xlabel('Quantity')
plt.ylabel('Frequency')
plt.show()

FileNotFoundError: [Errno 2] No such file or directory: 'ecommerce_sales.csv'

In [ ]:

# Line plot
plt.plot(x, y)
plt.xlabel(' UnitedKingdom')
plt.ylabel('Quantity ')
plt.title('Title of the plot')
plt.show()

In [ ]:
# bar plot 
sns.barplot(x=x, y=y)
plt.xlabel('X-axis label')
plt.ylabel('Y-axis label')
plt.title('Title of the plot')
plt.show()

In [ ]:
 data.head()

KeyError: 'driver_gender'

## Q4.What is the mean stop_duration ?

In [19]:
data.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,1.0,M,1985.0,20.0,White,Speeding,Speeding,False,1,Citation,False,0-15 Min,False
1,1/18/2005,8:15,1.0,M,1965.0,40.0,White,Speeding,Speeding,False,1,Citation,False,0-15 Min,False
2,1/23/2005,23:15,1.0,M,1972.0,33.0,White,Speeding,Speeding,False,1,Citation,False,0-15 Min,False
3,2/20/2005,17:15,1.0,M,1986.0,19.0,White,Call for Service,Other,False,1,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,1.0,F,1984.0,21.0,White,Speeding,Speeding,False,1,Citation,False,0-15 Min,False

In [20]:
data['stop_duration'].value_counts()

0-15 Min     47379
16-30 Min    11448
1             4060
30+ Min       2647
2                1
Name: stop_duration, dtype: int64

In [ ]:
data['stop_duration'].min()